<div>
  <div class="view-selector flex space-x-4 mb-4">
    <button (click)="setView('table')" [class.active]="currentView === 'table'">
      Mostrar Tabla
    </button>
    <button (click)="setView('grid')" [class.active]="currentView === 'grid'">
      Mostrar Grilla
    </button>
  </div>

  @if (currentView === 'table') {
  <app-table-display
    [pokemonList$]="pokemonList$"
    [currentSortDirection]="currentSortDirection"
    [totalRecords]="totalRecords"
    [rows]="limit"
    [first]="offset"
    [isSearching]="isSearching"
    [errorMessage]="errorMessage"
    (search)="onSearch($event)"
    (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)"
  ></app-table-display>
  } @if (currentView === 'grid') {
  <app-grid-display
    [pokemonList$]="pokemonList$"
    [currentSortDirection]="currentSortDirection"
    [totalRecords]="totalRecords"
    [limit]="limit"
    [offset]="offset"
    [isSearching]="isSearching"
    [errorMessage]="errorMessage"
    (search)="onSearch($event)"
    (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)"
  ></app-grid-display>
  }
</div>
