@if (errorMessage) {
<div class="error-message">{{ errorMessage }}</div>
} @else if (!errorMessage && totalRecords === 0 && !isSearching) {
<div class="loading-message">Cargando Pokémon...</div>
}

<div class="toolbar-container">
  <app-searcher (search)="onSearch($event)"></app-searcher>

  <app-sorter
    [currentDirection]="currentSortDirection"
    (sortChange)="onSortChange($event)"
  ></app-sorter>
</div>

<div class="table-container">
  @if (pokemonList$ | async; as data) { @if (data.results || totalRecords > 0) {
  <p-table
    [value]="data.results"
    [paginator]="!isSearching"
    [rows]="rows"
    [first]="first"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} Pokémon"
    [lazy]="true"
    (onPage)="onPageChange($event)"
    [scrollHeight]="'flex'"
    [scrollable]="true"
    [tableStyleClass]="'p-datatable-striped'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%" class="text-left">Número</th>
        <th style="width: 25%" class="text-center">Nombre</th>
        <th style="width: 25%" class="text-center">Imagen</th>
        <th style="width: 25%" class="text-left">Acción</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pokemon>
      <tr>
        <td class="align-middle text-center">#{{ getPokemonId(pokemon.url) }}</td>

        <td class="align-middle text-center">
          {{ pokemon.name | titlecase }}
        </td>

        <td class="align-middle text-center">
          <img
            alt="{{ pokemon.name | titlecase }}"
            [src]="pokemon.imageUrlDreamWorld || pokemon.imageUrlDefault"
            style="width: 100px; height: 100px; margin: 0 auto"
          />
        </td>

        <td class="align-middle text-left">
          <p-button label="Ver Más" (onClick)="onViewDetails(pokemon)" icon="pi pi-eye" />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center-padded">
          No se encontraron Pokémon que coincidan con la búsqueda.
        </td>
      </tr>
    </ng-template>
  </p-table>
  } }
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '40rem' }"
  header="Información detallada"
>
  <div class="dialog-content-wrapper">
    @if (fullPokemonDetails$ | async; as details) { @if (details === 'error') {
    <p class="error-text">Error al cargar los detalles completos del Pokémon.</p>
    } @else {
    <p-card
      [header]="details.name | titlecase"
      [subheader]="'N° : ' + details.id"
      class="pokemon-detail-card"
    >
      <div class="image-type-container">
        <hr class="separator" />
        <div class="image-types-group">
          @if (pokemonSprites.length > 0) {
          <p-carousel
            [value]="pokemonSprites"
            [numVisible]="1"
            [numScroll]="1"
            [responsiveOptions]="responsiveOptions"
            styleClass="pokemon-carousel"
          >
            <ng-template let-spriteUrl #item>
              <div class="carousel-item-wrapper">
                <img
                  [src]="spriteUrl"
                  [alt]="details.name | titlecase"
                  class="pokemon-sprite"
                  style="height: 20rem; width: auto"
                />
              </div>
            </ng-template>
          </p-carousel>
          } @else {
          <div class="no-image-placeholder">Imagen no disponible</div>
          }
          <h4 class="visually-hidden">Tipo</h4>
          <div class="type-icons-wrapper">
            @for (typeInfo of details.types; track typeInfo.slot) {
            <img
              [src]="'/types/' + typeInfo.type.name.toLowerCase() + '.png'"
              [alt]="'Tipo ' + (typeInfo.type.name | titlecase)"
              style="height: 3.5rem; width: 3.5rem; object-fit: contain"
              [title]="typeInfo.type.name | titlecase"
              class="type-icon"
            />
            }
          </div>
        </div>

        <hr class="separator" />

        <div class="stats-group">
          <h4 class="stats-title">Información básica</h4>
          <div class="basic-info-horizontal">
            <p>
              Altura: <b>{{ details.height / 10 }} m</b>
            </p>
            <p>
              Peso: <b>{{ details.weight / 10 }} kg</b>
            </p>
          </div>
        </div>
      </div>

      <hr class="separator" />

      <div class="stats-group chart-container">
        <h4 class="stats-title">Estadísticas Base</h4>

        @if (statsData) {
        <p-chart
          type="radar"
          [data]="statsData"
          [options]="statsOptions"
          class="pokemon-radar-chart"
        />
        }
      </div>
    </p-card>
    } } @else {
    <p>Cargando detalles del Pokémon...</p>
    }
  </div>
</p-dialog>
