.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.pokedex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

:host ::ng-deep .p-paginator {
  background: #1f1f1f;
  color: #f0f0f0;
  border: none;
  padding: 1rem;
}

:host ::ng-deep .p-paginator .p-paginator-current {
  color: #ccc;
  font-size: 1rem;
  padding-right: 1rem;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-highlight {
  background: #10b981;
  color: #fff;
}

:host ::ng-deep .p-paginator .p-dropdown {
  background: #333333;
  color: #f0f0f0;
  border: 1px solid #444;
}
